body {
    background-color: var(--primary-bg-color);
}

ul{
    list-style: none;
}

ul li a{
    display: block;
    padding:8px;
    text-decoration: none;
    font-size: 18px;
    color:white;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    position: absolute;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
    background: #000;;
}

.profile-icon{
    margin-left: 15px;
}

.fab {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    top: 170px;
    right: 4%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: var(--button-bg-color);
    border-color: var(--button-bg-color);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.fab:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}

.btn.btn-primary.fab:active {
    background-color: var(--button-hover-color);
}

.addUser {
    height: 55px;
}

.header {
    display: flex;
    padding: 5px;
    max-width: 95%;
    height: 55px;
    background-color: var(--table-header-color);
    border: 3px solid var(--table-header-color);
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.header-cols{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 40px;
    width: 100%;
}

.header-col{
    flex: 1;
    width: 30%;
    min-width: 100px;
    margin: 2px;
    padding: 10px;
    height: 30px;
    background-color: var(--table-header-color);
    transition: 0.3%;
    position: relative;
}

.wrapper {
    display: flex;
    padding: 5px;
    max-width: 95%;
    background-color: rgb(255, 255, 255);
    border: 3px solid #fff;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.columns{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.column{
    flex: 1;
    width: 30%;
    min-width: 100px;
    margin: 2px;
    padding: 10px;

    transition: 0.3%;
    position: relative;
}

.column h5 {
    text-align: left;
    margin: 1px;
}


/* CSS for Average Time Spent */
.blank-space {
    height: 50px; /* Adjust the height to create the desired blank space */
}

.date {
    display: inline-block;
    margin-right: 20px;
}

table {
    border-collapse: collapse;
    width: 50%;
}

.header2 {
    display: flex;
    padding: 5px;
    max-width: 65%;
    height: 50px; /* Reduced the header height */
    background-color: var(--table-header-color);
    border: 3px solid var(--table-header-color);
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.header-cols2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 40px; /* Reduced the row height */
    width: 100%;
}

.header-col2 {
    flex: 1;
    width: 40%; /* Adjusted the width of the columns */
    min-width: 80px;
    margin: 2px;
    padding: 5px; /* Reduced padding for a smaller size */
    height: 20px; /* Reduced the column height */
    background-color: var(--table-header-color);
    transition: 0.3s; /* Corrected the transition property */
    position: relative;
}

.wrapper2 {
    display: flex;
    padding: 5px;
    max-width: 65%;
    background-color: rgb(255, 255, 255);
    border: 3px solid #fff;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.columns2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.column2 {
    flex: 1;
    width: 40%;
    min-width: 100px;
    margin: 2px;
    padding: 10px;

    transition: 0.3%;
    position: relative;
}

.chart-popup-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    padding: 3%;
    position: relative;
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-buttons {
    position: absolute;
    bottom: 15px;
    right: 30px;
    font-size: 10px;
    background-color: var(--button-bg-color);
    border-color: var(--button-bg-color);
    color: #fff;
    width: 50px;
    height: 25px;
    border-radius: 10px;
}