.chartCard {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox { 
    width: 80%;
    padding: 45px;
    border-radius: 20px;
    border: solid 3px #000;
    /* background: white; */
    /* background-color: #f9f4f4;   */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

ul{
    list-style: none;
}

ul li a{
    display: block;
    padding:8px;
    text-decoration: none;
    font-size: 18px;
    color:white;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    position: absolute;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
    background: #000;;
}

.profile-icon{
    margin-left: 15px;
}