ul{
    list-style: none;
}

ul li a{
    display: block;
    padding:8px;
    text-decoration: none;
    font-size: 18px;
    color:white;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    position: absolute;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
    background: #000;;
}

.profile-icon{
    margin-left: 15px;
}

.header-col {
    display: inline-block;
}

#colour-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

#default-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 40px;
}

.column img {
    margin: 0 10px;
}

.image-checkbox label {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.image-checkbox input[type="checkbox"] {
    margin-right: 10px;
}

.image-checkbox {
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 260px;
    border-radius: 10px;
}


