.container {
    display: flex;
    border: 5px solid #000; /* Adjust border width and color as needed */
    border-radius: 30px; /* Adjust border-radius for rounded corners */
    background-color: rgb(255, 255, 255); /* Background color inside the border */
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.form {
    display: flex;
    padding: 5%;
}

.col-1 {
    margin-right: 40%;
}

.buttons {
    position: absolute;
    right: 30px;
    bottom: 15px;
}
