
.form {
    border: 5px solid #000; /* Adjust border width and color as needed */
    border-radius: 30px; /* Adjust border-radius for rounded corners */
    background-color: rgb(255, 255, 255); /* Background color inside the border */
}

.task_name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 50px; /* Adjust the top spacing as needed */
    left: 10%; /* Adjust the right spacing as needed */
    font-weight: bold;
    font-size: larger;
}

.task_name_detail {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 75px; /* Adjust the top spacing as needed */
    left: 10%; /* Adjust the right spacing as needed */
}

.story_point {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 115px; /* Adjust the top spacing as needed */
    left: 10%; /* Adjust the right spacing as needed */
    font-weight: bold;
    font-size: larger;
}

.story_point_detail {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 140px; /* Adjust the top spacing as needed */
    left: 10%; /* Adjust the right spacing as needed */
}

.assignee {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 180px; /* Adjust the top spacing as needed */
    left: 10%; /* Adjust the right spacing as needed */
    font-weight: bold;
    font-size: larger;
}

.assignee_detail {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 205px; /* Adjust the top spacing as needed */
    left: 10%; /* Adjust the right spacing as needed */
    font-weight: bold;
}

.description {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 245px; /* Adjust the top spacing as needed */
    left: 10%; /* Adjust the right spacing as needed */
    font-weight: bold;
    font-size: larger;
}

.description_detail {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 270px; /* Adjust the top spacing as needed */
    left: 10%; /* Adjust the right spacing as needed */
}

.type_of_task {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 50px; /* Adjust the top spacing as needed */
    left: 60%; /* Adjust the right spacing as needed */
    font-weight: bold;
    font-size: larger;
}

/* Add CSS styles to move elements to the right side */
.type_of_task_detail {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 75px; /* Adjust the top spacing as needed */
    left: 60%; /* Adjust the right spacing as needed */
}

.tags {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 115px; /* Adjust the top spacing as needed */
    left: 60%; /* Adjust the right spacing as needed */
    font-weight: bold;
    font-size: larger;
}

.tags_detail {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top:140px; /* Adjust the top spacing as needed */
    left: 60%; /* Adjust the right spacing as needed */ 
}

.priority {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 185px; /* Adjust the top spacing as needed */
    left: 60%; /* Adjust the right spacing as needed */
    font-weight: bold;
    font-size: larger;
}

.priority_detail {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top:210px; /* Adjust the top spacing as needed */
    left: 60%; /* Adjust the right spacing as needed */ 
}

.status {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 245px; /* Adjust the top spacing as needed */
    left: 60%; /* Adjust the right spacing as needed */
    font-weight: bold;
    font-size: larger;
}

.status_detail {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top:270px; /* Adjust the top spacing as needed */
    left: 60%; /* Adjust the right spacing as needed */ 
}

.stages {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 305px; /* Adjust the top spacing as needed */
    left: 60%; /* Adjust the right spacing as needed */
    font-weight: bold;
    font-size: larger;
}

.stages_detail {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top:330px; /* Adjust the top spacing as needed */
    left: 60%; /* Adjust the right spacing as needed */ 
}

.back{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 480px; /* Adjust the top spacing as needed */
    right: 110px; /* Adjust the right spacing as needed */
}

.done {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    top: 480px; /* Adjust the top spacing as needed */
    right: 60px; /* Adjust the right spacing as needed */
}