.container{
    display: flex;
    border: var(--card-border); /* Adjust border width and color as needed */
    border-radius: 30px; /* Adjust border-radius for rounded corners */
    background-color: var(--container-bg-color); /* Background color inside the border */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
}

.form {
    padding: 5%;
    padding-left: 10%;
}

.buttons {
    position: absolute;
    right: 33px;
    bottom: 25px;
}

button {
    font-size: 14px;
    background-color: var(--button-bg-color);
    border-color: var(--button-bg-color);
    color: #fff;
    width: 70px;
    height: 35px;
    border-radius: 10px;
}

