body {
  /* blue color */
  /* background-color: rgba(39, 93, 140, 0.3); */
  /* Red colour */
  /* background-color: rgba(187, 103, 101, 0.4);  */
}

.column{
    position: fixed;
    top: 35%;
    transform: translate(-50%, -50%);
    left:50%;
}

form {
  position: fixed;
  top: 52%;
  transform: translate(-50%, -50%);
  left:50%;
}

.rect-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    width: 380px;
    outline: none;
    background-color: #fff;
    border: none;
    padding: 0.7rem 1.0rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

form input {
  font-size: 17px;
  color: #4A4A4A;
  width: 100%;
  padding-left: 15px;
}

.icon {
    margin-right: 10px; 
}

.details-context {
    border: none;
    flex-grow: 1; 
}

.btn.btn-primary:hover {
    background-color: black;
    border-color: black;
}

/* .btn.btn-primary:active {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
} */

.btn.btn-primary{
    width: 8%;
    background-color: rgb(43, 42, 42);
    border-color: rgb(43, 42, 42);
    position: fixed;
    padding: 8px;
    top: 70%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.project-name {
  font-size: 75px;
  padding-bottom: 60px;
  font-weight: 700;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.3);
  /* default colour */
  background-image: linear-gradient(45deg, #373737, #434343, #515050);
  /* blue colour */
  /* background-image: linear-gradient(45deg, #1e454c, rgb(56, 96, 103), #406b72); */
  /* red colour */
  /* background-image: linear-gradient(45deg, #523208, rgb(162, 92, 64), #ae764b); */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} 
  
input:focus {
    outline: none;
    border: none;
  }

.password-toggle {
      position: relative;
    }

    .password-toggle input[type="password"] {
      padding-right: 30px;
    }

    .password-toggle .toggle-icon {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      cursor: pointer;
    }
