.panel {
    margin-top: 20px;
    margin-left: 5%;
}

.dropdown {
    display: inline-block;
    margin-right: 20px;
}

select#filter {
    border-radius: 20px;
    text-align: center;
}

select#sort {
    border-radius: 20px;
    text-align: center;
}

.fab {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.task-cards {
    display: flex;
}

.task-card {
    display: inline-block;
    width: 30%; 
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
}

.task-footer {
    display: flex;
    justify-content: space-between;
}

.dlt-icon {
    cursor: pointer;
}

.edit-icon {
    cursor: pointer;
}
  

