.container{
    display: flex;
    border: 5px solid #000; /* Adjust border width and color as needed */
    border-radius: 30px; /* Adjust border-radius for rounded corners */
    background-color: #f9f4f4; /* Background color inside the border */
    position: relative;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

.form {
    padding: 5%;
    padding-left: 10%;
}

.buttons {
    position: absolute;
    right: 33px;
    bottom: 25px;
}

button {
    font-size: 14px;
    background-color: #ba4545;
    border-color: #BA4545;
    color: #fff;
    width: 70px;
    height: 35px;
    border-radius: 10px;
}

.password-toggle {
    position: relative;
}

.password-toggle input[type="password"] {
    padding-right: 30px;
}

.password-toggle .toggle-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

form input {
    font-size: 14px;
    color: #4A4A4A;
    width: 100%;
    /* padding-left: 15px; */
}

.icon {
    margin-right: 10px; 
}

.rect-container {
    display: flex;
    align-items: center; /* Vertically center the input and icon */
}

.toggle-icon {
    cursor: pointer;
    padding-left: 10px; /* Add some spacing between input and icon */
}