.panel {
    margin-top: 20px;
    margin-left: 5%;
}

.fab {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #BA4545;
    border-color: #BA4545;
}

.fab:hover {
    background-color: #a83e3e;
    border-color: #a83e3e;
}

.sprint-cards {
    display: flex;
    flex-wrap: wrap;
}

.sprint-card {
    display: inline-block;
    width: 30%; 
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

.sprint-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
}

.sprint-footer {
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
}

ul li a{
    display: block;
    padding:8px;
    text-decoration: none;
    font-size: 18px;
    color:white;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    position: absolute;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
    background: #000;;
}

.profile-icon{
    margin-left: 15px;
}

  

