.panel {
    margin-top: 20px;
    margin-left: 5%;
}

.dropdown {
    display: inline-block;
    margin-right: 20px;
}

select#sort {
    border-radius: 20px;
    text-align: center;
}

select#filter {
    border-radius: 20px;
    text-align: center;
}

.fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    top: 70px;
    right: 40px;
    cursor: pointer;
}

.wrapper {
    display: flex;
    padding: 5px;
    max-width: 95%;
    margin: 20px auto;
}

.columns{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px 0;
    gap: 10px;
}

.column{
    flex: 1;
    width: 400px;
    /* height: 500px; */
    /* By removing the height property, the columns will adjust their height automatically based on the content they contain. */
    margin: 2px;
    padding: 10px;
    background-color: rgb(211, 211, 211);
    transition: 0.3%;
    position: relative; /* Add position relative to the column */
}

.column h4 {
    text-align: left;
    margin: 15px;
}

.black-bar {
    position: absolute; /* Position it absolutely within the column */
    top: 0; /* Place it at the top */
    left: 0; /* Align it to the left */
    width: 100%; /* Make it span the full width */
    height: 8px; /* Adjust the height as needed */
    background-color: black;
}

.task-card {
    display: inline-block;
    width: 30%; 
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
}

.task-footer {
    display: flex;
    justify-content: space-between;
}

.dlt-icon {
    cursor: pointer;
}

.edit-icon {
    cursor: pointer;
}