body {
    background-color: var(--primary-bg-color);
}

ul{
    list-style: none;
}

ul li a{
    display: block;
    padding:8px;
    text-decoration: none;
    font-size: 18px;
    color:white;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    position: absolute;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
    background: #000;;
}

.profile-icon{
    margin-left: 15px;
}

.middle-container{
    margin-left: 32%;
    margin-top: 150px;
}

.header {
    display: flex;
    /* padding: 5px; */
    width: 50%;
    height: 55px;
    background-color: var(--table-header-color);
    border: 3px solid var(--table-header-color);
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.header-cols{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* margin: 10px 0; */
    height: 40px;
    width: 80%;
    /* border: 3px solid #000000; */
}

.header-col{
    flex: 1;
    width: 30%;
    min-width: 100px;
    margin: 2px;
    padding: 10px;
    height: 30px;
    background-color: var(--table-header-color);
    transition: 0.3%;
    position: relative;
}


.wrapper {
    display: flex;
    padding: 5px;
    max-width: 50%;
    background-color: rgb(255, 255, 255);
    border: 3px solid #fff;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.columns{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.column{
    flex: 1;
    width: 30%;
    min-width: 100px;
    margin: 2px;
    padding: 10px;
    transition: 0.3%;
    position: relative;
}

.column h5 {
    text-align: left;
    margin: 1px;
}